html#{$cadmin-selector} {
	.lfr-simulation-device {
		background-color: rgba(255, 255, 255, 0.95);

		.lfr-device-size-status-content {
			border-radius: 3px;
			box-shadow: 0 0 1px #fff;
			opacity: 0.9;
		}

		&.custom-device {
			display: flex;
			align-items: center;
			justify-content: center;

			@include media-breakpoint-down(md) {
				display: flex;
				align-items: center;
				justify-content: start;
			}
		}

		&.desktop-device {
			display: flex;
			justify-content: center;

			@include media-breakpoint-down(lg) {
				display: block;
			}
		}

		&.smartphone-device {
			align-items: center;
			display: flex;
			justify-content: center;

			@include media-breakpoint-down(sm) {
				align-items: center;
				display: flex;
				justify-content: start;
			}

			&-rotated {
				align-items: center;
				display: flex;
				justify-content: center;

				@include media-breakpoint-down(md) {
					align-items: center;
					display: flex;
					justify-content: start;
				}
			}
		}

		&.tablet-device {
			display: flex;
			justify-content: center;

			@include media-breakpoint-down(md) {
				display: block;
			}

			&-rotated {
				align-items: center;
				display: flex;
				justify-content: center;

				@include media-breakpoint-down(lg) {
					align-items: center;
					display: flex;
					justify-content: start;
				}
			}
		}

		.lfr-device {
			opacity: 1;
			pointer-events: all;
			visibility: visible;

			.handle {
				height: 13px;
				width: 13px;
				background: transparent;
				position: absolute;

				.outer-line {
					position: absolute;
					top: 24%;
					left: 1%;
					width: 50%;
					height: 1px;
					background: #9697a4;
					transform: rotateZ(-45deg);
				}

				.inner-line {
					position: absolute;
					top: 39%;
					left: 1%;
					width: 76%;
					height: 1px;
					background: #9697a4;
					transform: rotateZ(-45deg);
				}

				&.handle-top-left {
					cursor: nw-resize;
					top: 5px;
					left: 5px;
				}

				&.handle-top-right {
					cursor: ne-resize;
					top: 5px;
					right: 5px;
					transform: rotateZ(90deg);
				}

				&.handle-bottom-left {
					cursor: sw-resize;
					bottom: 5px;
					left: 5px;
					transform: rotateZ(270deg);
				}

				&.handle-bottom-right {
					cursor: se-resize;
					bottom: 5px;
					right: 5px;
					transform: rotateZ(180deg);
				}
			}

			&.lfr-device--is-navigating {
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
			}

			&:after,
			&:before {
				box-shadow: #111 0 1px 0;
			}

			&:after {
				border-radius: 15px;
			}

			&.smartphone,
			&.tablet {
				border-radius: 25px;
			}

			&.custom {
				height: 600px;
				width: 600px;
			}

			&.desktop {
				border-radius: 16px;
				height: 1050px;
				padding: 24px;
				width: 1300px;
			}

			&.smartphone {
				height: 640px;
				width: 400px;

				&-rotated {
					height: 400px;
					width: 640px;
				}
			}

			&.tablet {
				&:before {
					border-radius: 5px;
				}
				height: 900px;
				margin: 0;
				width: 760px;

				&-rotated {
					height: 760px;
					width: 900px;
				}
			}
		}

		.loading-animation-simulation-device {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.modal-dialog {
			max-width: none;

			.modal-content {
				border-radius: 0;
			}
		}
	}

	.lfr-device {
		.autosize {
			height: 100%;
			width: 100%;
		}

		.lfr-device-size-status {
			.lfr-device-size-status-content {
				background-color: #000;
				color: #fff;
			}
		}

		&:after,
		&:before {
			background: #666;
		}

		&.smartphone,
		&.tablet,
		&.desktop {
			background: #333;
		}

		&.smartphone,
		&.tablet,
		&.desktop,
		&.custom {
			.modal-body.dialog-iframe-bd {
				margin-top: 0;
			}
		}

		.custom {
			height: 600px;
			width: 600px;
		}

		.desktop {
			height: 1050px;
			width: 1300px;
		}

		.smartphone {
			height: 640px;
			width: 400px;

			&-rotated {
				height: 400px;
				width: 640px;
			}
		}

		.tablet {
			height: 900px;
			width: 760px;

			&-rotated {
				height: 760px;
				width: 900px;
			}
		}

		&.custom,
		&.resizable-device {
			background-color: var(--btn-outline-primary-hover-border-color);
			padding: 2px;

			&.show {
				overflow: visible;

				.yui3-resize-handle {
					display: none;

					&-tl,
					&-tr,
					&-bl,
					&-br {
						display: block;
					}
				}

				.yui3-resize-handle-inner {
					&-tl,
					&-tr,
					&-bl,
					&-br {
						background-image: url(/o/frontend-js-aui-web/aui/resize-base/assets/skins/sam/arrows.png);
						background-repeat: no-repeat;
						display: block;
						height: 15px;
						overflow: hidden;
						text-indent: -99999em;
						width: 15px;
					}

					&-bl {
						bottom: 0;
						right: -18px;
					}

					&-tl {
						bottom: -15px;
						right: -18px;
					}

					&-tr {
						bottom: -15px;
						right: 0;
					}
				}
			}
		}
	}
}
